# 5.1.1 Lister

Dette har vi gjort til nå:

In [1]:
x_1 = 1
x_2 = 5
x_3 = 7
x_4 = 9
x_5 = 81

Tungvint når vi skal lagre mange verdier

In [2]:
x_verdier = [1, 5, 7, 9, 81]

Slik henter vi verdiene med variabel

In [3]:
x_2

5

Hvordan henter vi en verdien 9 fra lista?

In [4]:
x_verdier[3]

9

Siste verdien i liste:

In [5]:
x_verdier[-1]

81

In [6]:
x_verdier[len(x_verdier)-1]

81

Hente intervaller fra listen:

In [7]:
x_verdier[2:4]

[7, 9]

Hvordan legge til verdier til en eksisterende liste
- slutten av listen

In [8]:
x_verdier.append(101)
x_verdier

[1, 5, 7, 9, 81, 101]

Hvordan fjerne elementet 9 fra lista:

In [9]:
x_verdier.pop(3)

9

In [10]:
x_verdier

[1, 5, 7, 81, 101]

In [11]:
del x_verdier[1]

In [12]:
x_verdier

[1, 7, 81, 101]

Reversere lista:

In [13]:
x_verdier.reverse()

In [14]:
x_verdier

[101, 81, 7, 1]

Traversere liste

In [15]:
for i in range(len(x_verdier)):
    print(x_verdier[i])

101
81
7
1

In [16]:
for x_verdi in x_verdier:
    print(x_verdi)

101
81
7
1

In [17]:
y_verdier = [12, 2, 2, 5]
for x, y in zip(x_verdier, y_verdier):
    print(x+y)

113
83
9
6

Hva skjer når vi multipliserer, deler og legger sammen python-lister?

In [18]:
x_verdier+y_verdier

[101, 81, 7, 1, 12, 2, 2, 5]

Liste med tekst:

In [40]:
byer = ['Molde', 'Oslo', 'Bergen']
byer[2]

'Bergen'

Fylle en liste med tall

In [20]:
#liste med tallene 1-10
min_liste = []
for x in range(1,11):
    min_liste.append(x)
    
min_liste

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
min_liste2 = [x for x in range(1,11)]
min_liste2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
min_liste2 = [2*x for x in range(1,11)]
min_liste2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]