# Løkkeeksempler

**Eksempel 1**

$$\sum_{n=1}^5 (5n - 4)$$

Lag en for-løkke som løser summen over.

In [5]:
N = 5
sum = 0
for n in range(1,N+1):
    sum += 5*n - 4
    #print(sum)
    
print(f'Summen er {sum}')

Summen er 55

**Eksempel 2**
$$\sum_{x=3}^6 (x^2 - 2^x)$$

Lag en for-løkke som løser summen over.

In [80]:
N = 6
sum = 0
for x in range(3, N+1):
    sum += x**2 - 2**x
    #print(sum)
print(f'Summen er {sum}')

Summen er -34

### Fakultetfunskjon

$$N! = \prod_{n=1}^N n$$

Lag en funksjon som returnerer fakultetet til tall

In [83]:
def fakultet(N):
    produkt = 1
    for n in range(1, N+1):
        produkt *= n
    return produkt

N = 3
print(f'{N}! = {fakultet(N)}')

3! = 6

In [85]:
N = 10
linje = '—————————————————————————'
print(linje)
print(f'|{"n":^7} | fakultet (n!)|')
print(linje)
produkt = 1
for n in range(1, N+1):
    produkt *= n
    print(f'|{n:^7} | {produkt:12} |')
print(linje)

—————————————————————————
|   n    | fakultet (n!)|
—————————————————————————
|   1    |            1 |
|   2    |            2 |
|   3    |            6 |
|   4    |           24 |
|   5    |          120 |
|   6    |          720 |
|   7    |         5040 |
|   8    |        40320 |
|   9    |       362880 |
|  10    |      3628800 |
—————————————————————————

In [90]:
import numpy as np
linje = '—————————————————————————————————'
print(linje)
print(f'| {"grader":^7} | {"radianer":^9} | {"sinus":^7} |')
print(linje)
for i in range(0, 181, 10):
    radianer = np.deg2rad(i)
    sinus = np.sin(radianer)
    print(f'| {i:^7.0f} | {radianer:^9.2f} | {sinus:^7.2f} |')

print(linje)

—————————————————————————————————
| grader  | radianer  |  sinus  |
—————————————————————————————————
|    0    |   0.00    |  0.00   |
|   10    |   0.17    |  0.17   |
|   20    |   0.35    |  0.34   |
|   30    |   0.52    |  0.50   |
|   40    |   0.70    |  0.64   |
|   50    |   0.87    |  0.77   |
|   60    |   1.05    |  0.87   |
|   70    |   1.22    |  0.94   |
|   80    |   1.40    |  0.98   |
|   90    |   1.57    |  1.00   |
|   100   |   1.75    |  0.98   |
|   110   |   1.92    |  0.94   |
|   120   |   2.09    |  0.87   |
|   130   |   2.27    |  0.77   |
|   140   |   2.44    |  0.64   |
|   150   |   2.62    |  0.50   |
|   160   |   2.79    |  0.34   |
|   170   |   2.97    |  0.17   |
|   180   |   3.14    |  0.00   |
—————————————————————————————————

In [ ]:
!conda update --yes --all

# Rekker
$$1+\frac23+\frac49+\frac{8}{27}+...$$

Finn summen av den geometriske rekken over

$$\sum_0^\infty (\frac23)^n$$

In [18]:
N = 100 #Antall tall i rekken vi summerer
sum = 0
for n in range(0, N, 1):
    sum += (2/3)**n

print(f'{sum:.10f}')

3.0000000000

## Nestede løkker

In [21]:
for i in range(5):
    print('ytre løkke')
    for j in range(3):
        print('  indre løkke')

ytre løkke
  indre løkke
  indre løkke
  indre løkke
ytre løkke
  indre løkke
  indre løkke
  indre løkke
ytre løkke
  indre løkke
  indre løkke
  indre løkke
ytre løkke
  indre løkke
  indre løkke
  indre løkke
ytre løkke
  indre løkke
  indre løkke
  indre løkke